<div class="character-lore-container">
  <div class="char-box">
    <div class="char-lore">
      <div class="character-lore-top">
        <span class="placeholder" *ngIf="!character.image"> </span>
        <img
          *ngIf="character.image"
          class="character-image"
          [src]="character.image"
        />
        <div class="character-lore-titles">
          <div class="character-name">
            <span>{{ character.name ? character.name : "Nombre" }}</span>
          </div>
          <div class="character-concept capitalize">
            <span>Concepto</span>
            <span>{{
              character.archetype.concept
                ? character.archetype.concept
                : "Concepto"
            }}</span>
          </div>
          <div>
            <div class="character-nature">
              <span>Naturaleza / Conducta</span>
            </div>
            <div class="character-conduct">
              <span
                >{{
                  character.archetype.nature
                    ? character.archetype.nature
                    : "Naturaleza"
                }}
                /
                {{
                  character.archetype.conduct
                    ? character.archetype.conduct
                    : "Conducta"
                }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="character-lore">
        <span>Trasfondo</span>
        <span>{{ character.lore ? character.lore : "Trasfondo" }}</span>
      </div>
    </div>
  </div>
</div>
