.character-spells
    position: relative
    width: 100%
    height: calc(100vh - 104px)
    max-height: calc(100vh - 104px)
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    background-image: url(../../assets/img/background_lore.jpg)
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: 50% 100%
    overflow: auto
    border-top: 2px solid white
    border-bottom: 2px solid white