.character-lore-container
    position: relative
    width: 100%
    height: calc(100vh - 104px)
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start
    background-image: url(../../assets/img/background_lore.jpg)
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: 50% 100%
    border-top: 2px solid white
    border-bottom: 2px solid white

.char-box
    width: 100%
    max-height: calc(100vh - 150px)
    margin: 5px
    padding: 1rem
    border: 1px solid black
    border-radius: 4px
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
    opacity: 0.9
    background: GhostWhite
    overflow: auto

.char-lore
    width: 100%
    display: flex
    flex-direction: column

.character-image
    width: 40%
    height: auto
    border: 1px solid black
    margin-right: 1rem

.placeholder
    min-width: 40%
    height: 10rem
    border: 1px solid black
    background: LightGray

.character-name
    font-size: 22px
    font-weight: bold
    text-align: center
    margin-bottom: 1rem
    font-family: BreatheFireIii

.character-concept
    font-size: 18px
    text-align: center
    margin-bottom: 0.5rem
    font-style: italic
    display: flex
    flex-direction: column

    span:first-of-type
        color: DimGray
        font-size: 12px

.character-nature
    font-size: 12px
    font-style: italic
    color: DimGray
    text-align: center

.character-conduct
    font-size: 16px
    font-style: italic
    text-align: center

.character-lore
    width: 100%
    margin-top: 1rem
    font-size: 16px
    display: flex
    flex-direction: column

    span:first-of-type
        color: DimGray
        font-size: 12px
        font-style: italic
        margin-bottom: 0.5rem

.character-lore-top
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

.character-lore-titles
    width: 50%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
