<div mat-dialog-content class="rules-container">
  <div class="rules-index">
    <select name="select" [(ngModel)]="ruleSelected">
      <span matPrefix>{{ "nature" | translate }} &nbsp;</span>
      <option value="" disabled selected>Selecciona regla</option>
      <option *ngFor="let ruleIndex of rulesIndexes" [value]="ruleIndex">
        {{ ruleIndex }}
      </option>
    </select>
  </div>
  <div
    class="rule-text"
    [innerHTML]="sanitazedRules[ruleSelected]"
    (click)="ruleClick($event)"
  ></div>
  <button mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
</div>
