<div class="char-sheet">
  <!-- Columna izquierda -->
  <div class="char-sheet-column">
    <!-- Atributos -->
    <div class="char-attributes char-box">
      <h3>{{ "attributes" | translate }}</h3>
      <ul>
        <li *ngFor="let attribute of _character.attributes">
          <span>{{ attribute.name | translate }}</span>
          <span>{{ attribute.rank }}</span>
        </li>
      </ul>
    </div>

    <!-- Ataque -->
    <div class="char-attack char-box">
      <h3>{{ "attack" | translate }}</h3>

      <!-- Arma -->
      <select
        name="select"
        [(ngModel)]="currentWeaponIndex"
        (change)="updateWeapon(currentWeaponIndex)"
      >
        <option value="null" disabled selected>Selecciona arma</option>
        <option
          *ngFor="let weapon of _character.weapons; index as i"
          [value]="i"
        >
          {{ weapon.name }}
        </option>
      </select>

      <ul class="char-attack-data">
        <li>
          <span>Energía</span>
          <span>{{ currentWeapon?.energy }}</span>
        </li>
        <li>
          <span>Alcance</span>
          <span>{{ currentWeapon?.range }}</span>
        </li>
        <li>
          <span>Impacto</span>
          <span>{{ currentWeapon?.impact }}</span>
        </li>
        <li>
          <span>Daño</span>
          <span>{{ currentWeapon?.damage }}</span>
        </li>
        <li class="char-attack-effects">
          <span>Efectos</span>
          <div>
            <span
              class="capitalize"
              *ngFor="let effect of currentWeapon?.effects"
              >{{ effect?.type }} ({{ effect?.rank }})</span
            >
          </div>
        </li>
      </ul>
    </div>

    <!-- Energía -->
    <div class="char-energy char-box">
      <div class="char-controls">
        <mat-icon class="stat-icon" (click)="updateEnergy(1)">add</mat-icon>
        <mat-icon class="stat-icon" (click)="updateEnergy(-1)">remove</mat-icon>
      </div>
      <div class="char-stat">
        <img
          src="https://cdn0.iconfinder.com/data/icons/human-body-flat/340/fitness_health_power_strong_strength_gym_exercise_arm_hand_muscle-512.png"
        />
        <span
          [ngClass]="{
            overMax: _character.energy > maxEnergy
          }"
          >{{ _character.energy }}
        </span>
      </div>

      <!-- Vida -->
      <div class="char-stat">
        <img
          src="https://cdn1.iconfinder.com/data/icons/game-ui-set-part-2/96/Heart_red-512.png"
        />
        <span
          [ngClass]="{
            overMax: _character.health > maxHealth,
            overMid:
              _character.health <= maxHealth / 2 &&
              _character.health > maxHealth / 4,
            overMin: _character.health <= maxHealth / 4
          }"
          >{{ _character.health }}</span
        >
      </div>
      <div class="char-controls">
        <mat-icon class="stat-icon" (click)="updateHealth(1)"> add</mat-icon>
        <mat-icon class="stat-icon" (click)="updateHealth(-1)">remove</mat-icon>
      </div>
    </div>
  </div>

  <!-- Columna derecha -->
  <div class="char-sheet-column">
    <!-- Estadísticas -->
    <div class="char-stats char-box">
      <h3>{{ "stats" | translate }}</h3>
      <ul class="char-stats-data">
        <li>
          <span>{{ "perception" | translate }}</span>
          <span>{{ perception }}</span>
        </li>
        <li>
          <span>{{ "will" | translate }}</span>
          <span>{{ will }}</span>
        </li>
        <li>
          <span>{{ "speed" | translate }}</span>
          <span>{{ speed }}</span>
        </li>
        <li>
          <span>Defensa</span>
          <span>{{ defense }}</span>
        </li>
        <li>
          <span>Bloqueo</span>
          <span>{{ shieldDefense }}</span>
        </li>
        <li>
          <span>Desvío</span>
          <span>{{ weaponDefense }}</span>
        </li>
      </ul>
    </div>

    <!-- Habilidades -->
    <div class="char-skills char-box">
      <h3>{{ "skills" | translate }}</h3>
      <ul>
        <li *ngFor="let skill of parsedSkills">
          <span>{{ skill.name }}</span>
          <span>{{ skill.rank }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Cambiar a editar personaje -->
<button mat-fab class="toggle-screen" (click)="editModeChange.emit(true)">
  <mat-icon>edit</mat-icon>
</button>
