<div class="char-sheet">
  <!-- Columna izquierda -->
  <div *ngIf="character" class="char-sheet-column">
    <!-- Atributos -->
    <div class="char-attributes char-box">
      <h3>{{ "salvations" | translate }}</h3>
      <ul>
        <li *ngFor="let attribute of ATTRIBUTES">
          <span>{{ attribute | translate }}</span>
          <span>{{
            parseInt(String(character.attributes[attribute])) + 10
          }}</span>
        </li>
      </ul>
    </div>

    <hr />

    <!-- Ataque -->
    <div class="char-attack char-box">
      <h3>{{ "attack" | translate }}</h3>

      <!-- Arma -->
      <select
        name="select"
        [(ngModel)]="currentWeaponIndex"
        (change)="updateWeapon(currentWeaponIndex)"
      >
        <option value="null" disabled selected>Selecciona arma</option>
        <option
          *ngFor="let weapon of character.weapons; index as i"
          [value]="i"
        >
          {{ weapon.name }}
        </option>
      </select>

      <ul class="char-attack-data">
        <li>
          <span>Energía</span>
          <span>{{ currentWeapon?.energy }}</span>
        </li>
        <li>
          <span>Alcance</span>
          <span class="capitalize">{{ currentWeapon?.range }}</span>
        </li>
        <li>
          <span>Impacto</span>
          <span>{{ currentWeapon?.impact }}</span>
        </li>
        <li>
          <span>Perforante</span>
          <span>{{
            currentWeapon?.piercing ? currentWeapon?.piercing : 0
          }}</span>
        </li>
        <li>
          <span>Daño</span>
          <span>{{ currentWeapon?.damage }}</span>
        </li>
        <li class="char-attack-effects">
          <span>Efectos</span>
          <div>
            <span
              class="capitalize"
              *ngFor="let effect of currentWeapon?.effects"
              >{{ effect?.type }} ({{ effect?.rank }})</span
            >
          </div>
        </li>
      </ul>
    </div>
  </div>

  <hr class="hr-vertical" />

  <!-- Columna derecha -->
  <div *ngIf="character" class="char-sheet-column">
    <!-- Pasivas -->
    <div class="char-box">
      <h3>{{ "stats" | translate }}</h3>
      <ul class="char-stats-data">
        <li>
          <span>{{ "perception" | translate }}</span>
          <span>{{ perception }}</span>
        </li>
        <li>
          <span>{{ "will" | translate }}</span>
          <span>{{ will }}</span>
        </li>
        <li>
          <span>{{ "speed" | translate }}</span>
          <span>{{ speed }}</span>
        </li>
        <li>
          <span>Defensa</span>
          <span>{{ defense }}</span>
        </li>
        <li>
          <span>Bloqueo</span>
          <span>{{ shieldDefense }}</span>
        </li>
        <li>
          <span>Desvío</span>
          <span>{{ weaponDefense }}</span>
        </li>
      </ul>
    </div>

    <hr />

    <!-- Habilidades -->
    <div class="char-skills char-box">
      <h3>{{ "skills" | translate }}</h3>
      <ul>
        <li *ngFor="let skill of character.skills">
          <span>{{ skill.name }}</span>
          <span>{{ parseInt(String(skill.rank)) + 8 }}</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Estadísticas -->
  <div *ngIf="character" class="char-stats">
    <div class="char-stat">
      <div></div>
      <div>
        <img
          src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/fist_hand_energy_power_thunder_bolt_strength_lightning-512.png"
        />
        <span class="char-stat-max">{{ "/" + maxEnergy }}</span>
        <span
          class="char-stat-current"
          [ngClass]="{
            overMax: character.energy! > maxEnergy,
            overMin: character.energy! == 0
          }"
          >{{ character.energy }}
        </span>
      </div>
      <div class="char-controls">
        <mat-icon class="stat-icon" (click)="updateEnergy(1)">add</mat-icon>
        <mat-icon class="stat-icon" (click)="updateEnergy(-1)">remove</mat-icon>
      </div>
    </div>

    <div class="char-stat">
      <div></div>
      <div>
        <img
          src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/ability_skill_swords_game_mastery_hand-512.png"
        />
        <span
          [ngClass]="{
            overMin: character.destiny == 0
          }"
          >{{ character.destiny }}
        </span>
      </div>
      <div class="char-controls">
        <mat-icon class="stat-icon" (click)="updateDestiny(1)">add</mat-icon>
        <mat-icon class="stat-icon" (click)="updateDestiny(-1)"
          >remove</mat-icon
        >
      </div>
    </div>

    <!-- Vida -->
    <div class="char-stat">
      <div></div>
      <div>
        <img
          src="https://cdn1.iconfinder.com/data/icons/game-ui-set-part-2/96/Heart_red-512.png"
        />
        <span class="char-stat-max">{{ "/" + maxHealth }}</span>
        <span
          class="char-stat-current"
          [ngClass]="{
            overMax: character.health! > maxHealth,
            overMid:
              character.health! < maxHealth / 2 &&
              character.health! >= maxHealth / 4,
            overMin: character.health! < maxHealth / 4
          }"
          >{{ character.health }}</span
        >
      </div>
      <div class="char-controls">
        <mat-icon class="stat-icon" (click)="updateHealth(1)"> add</mat-icon>
        <mat-icon class="stat-icon" (click)="updateHealth(-1)">remove</mat-icon>
      </div>
    </div>
  </div>
</div>
