<div class="character-spells">
  <ng-container *ngIf="character">
    <div *ngFor="let spell of character.spells" class="spell">
      <div class="spell-title">
        <div class="spell-name">
          <span>{{ spell?.type }}</span>
          <span>{{ spell?.name }}</span>
        </div>
        <div class="spell-cost">
          <span>Coste / <span class="spell-lost">Pérdida</span></span
          ><span
            >{{ spell?.cost }} /
            <span class="spell-lost">{{ spell?.cost }}</span></span
          >
        </div>
      </div>
      <div class="spell-description">{{ spell?.description }}</div>
    </div>
  </ng-container>
</div>
