<div class="character-creator">
  <div *ngIf="character" class="character-creator-wrapper">
    <mat-accordion class="edit-container" multi>
      <mat-expansion-panel>
        <!-- Arquetipo -->
        <mat-expansion-panel-header>
          <mat-panel-title class="character-creator-title">
            {{ "archetype" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Nombre -->
        <input
          matInput
          [(ngModel)]="character.name"
          maxlength="25"
          [placeholder]="'name' | translate"
        />

        <!-- Imagen -->
        <input
          matInput
          [(ngModel)]="character.image"
          [placeholder]="'image' | translate"
        />

        <!-- Concepto -->
        <input
          matInput
          [(ngModel)]="character.archetype!.concept"
          maxlength="25"
          [placeholder]="'concept' | translate"
        />

        <!-- Naturaleza -->
        <select name="select" [(ngModel)]="character.archetype!.nature">
          <span matPrefix>{{ "nature" | translate }} &nbsp;</span>
          <option value="null" disabled selected>Selecciona naturaleza</option>
          <option *ngFor="let nature of NATURE" [value]="nature">
            {{ nature }}
          </option>
        </select>

        <!-- Conducta -->
        <select name="select" [(ngModel)]="character.archetype!.conduct">
          <option value="null" disabled selected>Selecciona conducta</option>
          <option *ngFor="let nature of NATURE" [value]="nature">
            {{ nature }}
          </option>
        </select>

        <!-- Lore -->
        <textarea
          matInput
          [(ngModel)]="character.lore"
          [placeholder]="'lore' | translate"
        ></textarea>
      </mat-expansion-panel>

      <!-- Atributos -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="character-creator-title">
            {{ "attributes" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Atributos -->
        <div
          *ngFor="let attribute of ATTRIBUTES; index as i"
          class="character-creator-attribute"
        >
          <select
            #select{{i}}
            id="{{ 'select' + i }}"
            name="select"
            class="align-right"
            [(ngModel)]="character.attributes[attribute]"
          >
            <option [value]="null" disabled selected>Rango</option>
            <option [value]="0">0</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
            <option [value]="5">5</option>
            <option [value]="6">6</option>
          </select>
          <mat-label class="attribute-name">
            {{ attribute | translate }}</mat-label
          >
        </div>
      </mat-expansion-panel>

      <!-- Habilidades -->
      <mat-expansion-panel class="add-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="character-creator-title">
            {{ "skills" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div
          *ngFor="let skill of character.skills; index as i"
          class="skill-container"
        >
          <mat-icon
            class="skill-remove-icon"
            (click)="character.skills?.splice(i, 1)"
            >close</mat-icon
          >
          <select
            name="select"
            class="character-creator-skill"
            [(ngModel)]="skill.name"
          >
            <option value="null" disabled selected>Selecciona habilidad</option>
            <option *ngFor="let skillType of SKILLS" [value]="skillType.name">
              <span>{{ skillType.name }}</span>
            </option>
          </select>
          <select name="select" class="align-right" [(ngModel)]="skill.rank">
            <option [value]="null" disabled selected>Rango</option>
            <option [value]="-2">-2</option>
            <option [value]="-1">-1</option>
            <option [value]="0" selected>0</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
            <option [value]="5">5</option>
            <option [value]="6">6</option>
          </select>
        </div>
        <!-- Añadir habilidad -->
        <div class="skill-add">
          <mat-icon class="skill-add-icon" (click)="newSkill()">add</mat-icon>
        </div>
      </mat-expansion-panel>

      <!-- Armadura -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="character-creator-title">
            {{ "gear" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="gear">
          <!-- Ropa -->
          <select name="select" [(ngModel)]="character.gear!.clothes">
            <option [value]="null" disabled selected>Selecciona ropa</option>
            <option *ngFor="let clothes of GEAR.clothes" [value]="clothes.name">
              {{ clothes.name }}
            </option>
          </select>
          <!-- Armadura -->
          <select name="select" [(ngModel)]="character.gear!.armor">
            <option [value]="null" disabled selected>
              Selecciona armadura
            </option>
            <option *ngFor="let armor of GEAR.armor" [value]="armor.name">
              {{ armor.name }}
            </option>
          </select>
          <!-- Yelmo -->
          <select name="select" [(ngModel)]="character.gear!.helmet">
            <option [value]="null" disabled selected>Selecciona yelmo</option>
            <option *ngFor="let helmet of GEAR.helmet" [value]="helmet.name">
              {{ helmet.name }}
            </option>
          </select>
          <!-- Escudo -->
          <select name="select" [(ngModel)]="character.gear!.shield">
            <option [value]="null" disabled selected>Selecciona escudo</option>
            <option *ngFor="let shield of GEAR.shield" [value]="shield.name">
              {{ shield.name }}
            </option>
          </select>
        </div>
      </mat-expansion-panel>

      <!-- Armas -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="character-creator-title">
            {{ "weapons" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Configurador de arma -->
        <div
          *ngFor="let weapon of character.weapons; index as i"
          class="weapon-config"
        >
          <hr *ngIf="i > 0" />
          <div class="weapon-name">
            <mat-icon
              *ngIf="weapon.name != 'Sin arma'"
              class="skill-remove-icon"
              (click)="character.weapons?.splice(i, 1)"
              >close</mat-icon
            >
            <input
              [disabled]="weapon.name == 'Sin arma'"
              type="text"
              [(ngModel)]="weapon.name"
              placeholder="Nombre del arma"
              maxlength="25"
            />
            <mat-icon
              class="skill-remove-icon"
              (click)="hideWeapon[i] = !hideWeapon[i]"
              >{{
                hideWeapon[i] ? "arrow_drop_down" : "arrow_drop_up"
              }}</mat-icon
            >
          </div>
          <div
            class="weapon-stats"
            [ngClass]="{ 'weapon-stats-hidden': hideWeapon[i] }"
          >
            <!-- Atributo de impacto -->
            <select name="select" [(ngModel)]="weapon.impactAtt">
              <option [value]="null" disabled selected>
                Selecciona atributo de impacto
              </option>
              <option *ngFor="let attribute of ATTRIBUTES" [value]="attribute">
                {{ "Impacto: " + (attribute | translate) }}
              </option>
            </select>
            <!-- Atributo de daño -->
            <select name="select" [(ngModel)]="weapon.damageAtt">
              <option [value]="null" disabled selected>
                Selecciona atributo de daño
              </option>
              <option *ngFor="let attribute of ATTRIBUTES" [value]="attribute">
                {{ "Daño: " + (attribute | translate) }}
              </option>
            </select>
            <!-- Tamaño -->
            <select name="select" [(ngModel)]="weapon.size">
              <option [value]="null" disabled selected>
                Selecciona tamaño
              </option>
              <option *ngFor="let size of WEAPON.size" [value]="size.size">
                {{ "Tamaño " + size.size }}
              </option>
            </select>
            <!-- Calidad -->
            <select name="select" [(ngModel)]="weapon.quality">
              <option [value]="null" disabled selected>
                Selecciona calidad
              </option>
              <option
                *ngFor="let quality of WEAPON.quality"
                [value]="quality.quality"
              >
                {{ "Calidad " + quality.quality }}
              </option>
            </select>
            <!-- Alcance -->
            <select name="select" [(ngModel)]="weapon.range">
              <option [value]="null" disabled selected>
                Selecciona alcance
              </option>
              <option *ngFor="let range of WEAPON.range" [value]="range">
                {{ "Alcance " + range }}
              </option>
            </select>
            <!-- Daño -->
            <span class="damage-select-title">
              Selecciona hasta 3 tipos de daño
            </span>
            <select
              name="select"
              class="damage-select"
              [(ngModel)]="weapon.damageType"
              multiple
            >
              <option
                *ngFor="let damage of WEAPON.damageType"
                [value]="damage.type"
                [disabled]="
                  weapon.damageType?.length == 3 &&
                  !weapon.damageType?.includes(damage.type)
                "
              >
                {{ "Daño " + damage.type }}
              </option>
            </select>
          </div>
        </div>

        <!-- Añadir arma -->
        <div class="skill-add">
          <mat-icon class="skill-add-icon" (click)="newWeapon()">add</mat-icon>
        </div>
      </mat-expansion-panel>

      <!-- Habilidades especiales -->
      <mat-expansion-panel class="add-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="character-creator-title">
            {{ "esp-skills" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Configurador de habilidad especial -->
        <div
          *ngFor="let spell of character.spells; index as i"
          class="weapon-config"
        >
          <hr *ngIf="i > 0" />
          <div class="weapon-name">
            <mat-icon
              class="skill-remove-icon"
              (click)="character.spells?.splice(i, 1)"
              >close</mat-icon
            >
            <input
              type="text"
              [(ngModel)]="spell.name"
              placeholder="Nombre de la habilidad"
              maxlength="25"
            />
            <mat-icon
              class="skill-remove-icon"
              (click)="hideSpell[i] = !hideSpell[i]"
              >{{
                hideSpell[i] ? "arrow_drop_down" : "arrow_drop_up"
              }}</mat-icon
            >
          </div>
          <!-- Coste -->
          <div
            class="spell-cost"
            [ngClass]="{ 'weapon-stats-hidden': hideSpell[i] }"
          >
            <!-- Tipo -->
            <select class="spell-type" name="select" [(ngModel)]="spell.type">
              <option value="null" disabled selected>Tipo</option>
              <option
                *ngFor="let type of ['Narrativa', 'Combate']"
                [value]="type"
              >
                {{ type }}
              </option>
            </select>
            <input
              matInput
              type="number"
              [(ngModel)]="spell.cost"
              maxlength="2"
              [placeholder]="'Coste'"
            />
            <input
              matInput
              type="number"
              [(ngModel)]="spell.lost"
              maxlength="2"
              [placeholder]="'Pérdida'"
            />
          </div>

          <!-- Descripción -->
          <textarea
            matInput
            [(ngModel)]="spell.description"
            [placeholder]="'description' | translate"
            [ngClass]="{ 'weapon-stats-hidden': hideSpell[i] }"
          ></textarea>
        </div>

        <!-- Añadir arma -->
        <div class="skill-add">
          <mat-icon class="skill-add-icon" (click)="newSpell()">add</mat-icon>
        </div>

        <div></div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
