.app-container
    width: 100%
    height: 100vh

.load-feedback
    position: fixed
    bottom: 1rem
    left: 50%
    transform: translate(-50%, 0)
    z-index: 99
    width: 200px
    display: flex
    justify-content: space-around
    align-items: center
    padding: 0.5rem 1rem
    border: 1px solid black
    border-radius: 4px
    font-family: 'Times New Roman', Times, serif
    background: GhostWhite

.feedback-icon
    color: green
