<div class="app-container">
  <!-- Menu -->
  <app-menu class="menu" [index]="index" [character]="character"></app-menu>

  <mat-tab-group
    headerPosition="below"
    (focusChange)="updateCharacter($event)"
    class="menu-tabs"
  >
    <!-- Creator -->
    <mat-tab class="menu-tab">
      <ng-template mat-tab-label>
        <fa-icon [icon]="faPen" class="mat-tab-icon"></fa-icon>
      </ng-template>
      <app-character-creator [character]="character"></app-character-creator>
    </mat-tab>
    <!-- Lore -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faScroll" class="mat-tab-icon"></fa-icon>
      </ng-template>
      <app-character-lore [character]="character"></app-character-lore>
    </mat-tab>
    <!-- View -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faDice" class="mat-tab-icon"></fa-icon>
      </ng-template>
      <app-character-view
        [character]="character"
        (statsUpdated)="character = $event"
      ></app-character-view
    ></mat-tab>
    <!-- Spells -->
    <mat-tab [disabled]="true">
      <ng-template mat-tab-label>
        <fa-icon [icon]="faWandSparkles" class="mat-tab-icon"></fa-icon>
      </ng-template>
      <app-character-spells [character]="character"></app-character-spells>
    </mat-tab>
  </mat-tab-group>
  <div class="version">v0.41</div>
</div>
