<div class="app-container">
  <!-- Menu -->
  <app-menu class="menu" [index]="index"></app-menu>

  <mat-tab-group
    headerPosition="below"
    (focusChange)="index = $event.index"
    class="menu-tabs"
  >
    <!-- Creator -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon
          [icon]="faPen"
          class="mat-tab-icon"
          (click)="tabUpdate()"
        ></fa-icon>
      </ng-template>
      <app-character-creator></app-character-creator>
    </mat-tab>
    <!-- Lore -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon
          [icon]="faScroll"
          class="mat-tab-icon"
          (click)="tabUpdate()"
        ></fa-icon>
      </ng-template>
      <app-character-lore></app-character-lore>
    </mat-tab>
    <!-- View -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon
          [icon]="faDice"
          class="mat-tab-icon"
          (click)="tabUpdate()"
        ></fa-icon>
      </ng-template>
      <app-character-view></app-character-view
    ></mat-tab>
    <!-- Spells -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon
          [icon]="faWandSparkles"
          class="mat-tab-icon"
          (click)="tabUpdate()"
        ></fa-icon>
      </ng-template>
      <app-character-spells></app-character-spells>
    </mat-tab>
  </mat-tab-group>
  <div class="version">v0.77</div>
</div>
