.app-container
    width: 100%
    height: 100vh
    max-width: 800px
    max-height: 1200px
    margin: 0 auto

.menu-tabs
    width: 100%
    background: GhostWhite

.mat-tab-icon
    color: white !important
    font-size: 24px

::ng-deep .mat-mdc-tab-label-container
    background: Black

::ng-deep .mdc-tab-indicator__content--underline
    border-color: Turquoise !important

.version
    font-size: 10px
    position: fixed
    bottom: 2px
    right: 5px
    color: white
    opacity: 0.5
    pointer-events: none
