<div mat-dialog-content>
  <!-- Personajes -->
  <select
    name="select"
    [(ngModel)]="selectedCharacter"
    (change)="selectChange($event)"
  >
    <option value="null" disabled selected>Selecciona personaje</option>
    <option value="file">Cargar desde archivo</option>
    <option *ngFor="let char of savedCharacters" [value]="char.name">
      {{ char.name }}
    </option>
  </select>
</div>
<div mat-dialog-actions class="char-load-controls">
  <input
    #input
    type="file"
    accept=".char"
    class="file-upload"
    (click)="resetFile($event)"
    (change)="loadFromFile($event)"
  />
  <button mat-button (click)="loadCharacter()">Cargar</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
</div>

<!-- <div>
  Aguante: Puntos de daño que pueden recibirse antes de quedar inconsciente. Recibir un ataque con AGUANTE por debajo de 0, causará la muerte.

  Si la vida se encuentra por debajo de la mitad, la VELOCIDAD se reduce a la mitad redondeando hacia arriba.
  
  Si la vida se encuentra por debajo del 25%, todas las tiradas sufren un penalizador de 1 punto.


  Energía
  Puntos que pueden invertirse para aumentar la VELOCIDAD durante un turno, realizar ATAQUES o ejecutar HABILIDADES ESPECIALES.

Los puntos GASTADOS se recuperan tras descansar un turno sin realizar acciones que no sean de movimiento. 

Los puntos PERDIDOS no se pueden recuperar durante un combate y requieren de un descanso largo. Si se PIERDEN todos los puntos de ENERGÍA, el personaje queda exhausto y no puede realizar acciones.

Iniciativa
Iniciativa base que puede ser aumentada con ENERGÍA para actuar durante el turno.

Recibe una penalización por la carga de la ARMADURA, que puede agravarse si no se posee la FUERZA requerida para equiparla. 

Si la VELOCIDAD total para el turno supera en 10 puntos o más a la del enemigo, se gana una acción extra de DEFENSA ACTIVA, o de ATAQUE, si el arma secundaria está equipada.

percepcion
Valor base que se suma a la dificultad de las tiradas de PERCEPCIÓN.

Recibe una penalización del YELMO equipado en proporción a su tamaño y peso.


voluntad 
Valor base que se suma a la dificultad de las tiradas de VOLUNTAD.

DEFENSA
Valor base que se suma al valor de IMPACTAR del ataque enemigo para obtener la dificultad de la tirada de ataque.

Cuanto mayor sea el valor de ARMADURA, menor será el valor de la DEFENSA PASIVA, dado que para que el ataque tenga éxito, el resultado de la tirada debe ser menor que la dificultad obtenida.

desvio
Dificultad de la tirada de DEFENSA CON ARMA. El margen de éxito de la tirada se resta al margen de éxito del ATAQUE enemigo.

Si el margen de éxito del ATAQUE se reduce a 0 o menos, el ataque falla. Si se reduce por debajo de -10 puntos, además se podrá realizar un contraataque de manera inmediata.

bloqueo
Dificultad de la tirada de DEFENSA CON ESCUDO. El margen de éxito de la tirada se resta al margen de éxito del ATAQUE enemigo.

Si el margen de éxito del ATAQUE se reduce a 0 o menos, el ataque falla. Si se reduce por debajo de -10 puntos, además se podrá realizar un contraataque de manera inmediata


coste
Puntos de ENERGÍA que deben gastarse antes de realizar el ataque. Si no se realiza el gasto de todos los puntos requeridos, el ataque falla automáticamente.

impacto
Valor, que sumado a la DEFENSA PASIVA del enemigo, fija la dificultad de la tirada de ATAQUE.

Si el resultado de la tirada es igual o menor que la dificultad obtenida, el ataque impacta y causa daño.

Si el margen de éxito del ataque es mayor que 0, este puede generar efectos adicionales.

daño
Puntos de AGUANTE que el enemigo pierde si el ataque impacta con éxito.

critico
Por cada punto, el margen de éxito necesario para conseguir un golpe crítico se reduce en 1 punto.

El margen de éxito base para obtener un golpe crítico es 10.

perforante
Valor que se resta a la DEFENSA PASIVA del enemigo antes de realizar el ATAQUE.

impedir
El enemigo pierde 1 punto de VELOCIDAD por cada carga hasta el final de su siguiente turno.

aturdir
El enemigo recibe una penalización de 1 punto por cada carga a todas sus tiradas hasta finalizar su siguiente turno.

sangrar
El enemigo pierde 1 punto de AGUANTE al final de su turno hasta que se cure. Por cada carga de SANGRAR por encima de 1, la pérdida de AGUANTE se duplica

envenenar
El enemigo pierde 1 punto de AGUANTE y 1 punto de ENERGÍA por cada carga hasta que se cure con un antídoto.

quemar
Los siguientes ataques que reciba el enemigo con QUEMAR reciben +1 de DAÑO por cada carga.

romper
La DEFENSA PASIVA del enemigo se reduce en 1 punto por cada carga hasta el final del combate. 

Si se usó un arma o escudo para bloquear, será la DEFENSA CON ARMA o la DEFENSA CON ESCUDO la que se reduzca.


</div> -->
