*:focus
    outline: unset

select
    width: 100%
    padding: 0.5rem
    margin: 0.5rem 0 1rem 0
    border: unset
    font-family: 'Times New Roman', Times, serif
    font-size: 16px
    text-overflow: ellipsis

.char-load-controls
    display: flex
    justify-content: space-between
    align-items: center

button
    margin: 0 !important
    font-family: 'Times New Roman', Times, serif
    font-size: 16px

.file-upload
    max-width: 100%

.file-upload::-webkit-file-upload-button
    visibility: hidden

.file-upload::before
    content: 'Cargar desde archivo'
    display: inline-block
    font-family: 'Times New Roman', Times, serif
    font-size: 16px
    outline: none
    white-space: wrap
    -webkit-user-select: none
    cursor: pointer
