<div id="char-print-container" class="char-print-container">
  <div *ngIf="!printed" class="char-print-button">
    <button (click)="print()"><mat-icon>print</mat-icon></button>
  </div>
  <div class="char-stats">
    <!-- Perfil -->
    <div class="char-stats-container">
      <div class="char-skills char-profile">
        <div class="char-name char-title">
          <span>{{ printCharacter?.character?.name }}</span>
          <img src="./assets/img/banner.png" />
        </div>
        <div class="char-image">
          <img [src]="printCharacter?.character?.image" />
        </div>
        <!-- <div class="char-name char-profile-data">
          <span><b>Perfil</b></span>
        </div> -->
        <div class="char-skill">
          <span>Concepto</span
          ><span>{{ printCharacter?.character?.archetype.concept }}</span>
        </div>
        <div class="char-skill">
          <span>Naturaleza</span
          ><span>{{ printCharacter?.character?.archetype.nature }}</span>
        </div>
        <div class="char-skill">
          <span>Conducta</span
          ><span>{{ printCharacter?.character?.archetype.conduct }}</span>
        </div>

        <!-- Pasivas -->
        <div class="char-skills char-passives-container">
          <div class="char-attribute char-profile-data">
            <img
              src="https://cdn2.iconfinder.com/data/icons/avatar-classes-role-playing-game-1/340/character_rpg_art_fighter_martial_warrior-512.png"
            />
            <span class="char-attribute-img"><b>Pasivas</b></span>
          </div>
          <div>
            <div>
              <img
                src="https://cdn1.iconfinder.com/data/icons/game-ui-set-part-2/96/Heart_red-512.png"
              />
              <span>Aguante</span>
            </div>
            <span>{{ printCharacter?.maxHealth }}</span>
          </div>
          <div>
            <div>
              <img
                src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/vision_eye_focus_scanning_eyesight_accuracy-512.png"
              />
              <span>Percepción</span>
            </div>
            <span>{{ printCharacter?.perception }}</span>
          </div>
          <div>
            <div>
              <img
                src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/speed_foot_motion_down_leg_skill-512.png"
              />
              <span>Velocidad</span>
            </div>
            <span>{{ printCharacter?.speed }}</span>
          </div>
          <div>
            <div>
              <img
                src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/ability_skill_swords_game_mastery_hand-512.png"
              />
              <span>Voluntad</span>
            </div>
            <span>{{ printCharacter?.will }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="char-stats-container char-gear-container">
      <div class="char-skills char-gear">
        <div class="char-attribute">
          <img
            src="https://cdn4.iconfinder.com/data/icons/medieval-23/340/blacksmith_medieval_anvil_craft_iron_forge_hammer-512.png"
          />
          <span class="char-attribute-img"><b>Equipo base</b></span>
        </div>
        <div class="char-skill">
          <span>Ropa</span
          ><span>{{ printCharacter?.character?.gear?.clothes }}</span>
        </div>
        <div class="char-skill">
          <span>Armadura</span
          ><span>{{ printCharacter?.character?.gear?.armor }}</span>
        </div>
        <div class="char-skill">
          <span>Casco</span
          ><span>{{ printCharacter?.character?.gear?.helmet }}</span>
        </div>
        <div class="char-skill">
          <span>Escudo</span
          ><span>{{ printCharacter?.character?.gear?.shield }}</span>
        </div>
      </div>

      <!-- Armas -->
      <div class="char-stats-container">
        <ng-container
          *ngFor="let weapon of printCharacter?.parsedWeapons; index as i"
        >
          <div class="char-skills char-weapon">
            <div class="char-attribute">
              <span [ngClass]="{ 'char-custom-skill': !weapon?.name }"
                ><sup>({{ i + 1 }}) </sup
                >{{ weapon?.name ? weapon?.name : "______________" }}</span
              >
              ><span>{{ weapon?.impact ? weapon?.impact : "" }}</span>
            </div>
            <div class="char-weapon-data">
              <div>
                <span [ngClass]="{ 'char-custom-skill': !weapon?.range }">{{
                  weapon?.range ? weapon?.range : "_______"
                }}</span>
              </div>
              <div>
                <div>
                  <img
                    src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/horror_skull_halloween_dark_death_evil_skeleton-512.png"
                  /><span
                    [ngClass]="{ 'char-custom-skill': !weapon?.energy }"
                    >{{ weapon?.energy != null ? weapon?.energy : "__" }}</span
                  >
                </div>
                <div>
                  <img
                    src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/love_heart_break_relationship_skill_ability-512.png"
                  /><span
                    [ngClass]="{ 'char-custom-skill': !weapon?.damage }"
                    >{{ weapon?.damage ? weapon?.damage : "__" }}</span
                  >
                </div>
              </div>
            </div>
            <div
              *ngIf="!weapon?.name || weapon?.piercing > 0"
              class="char-skill"
            >
              <span>Perforante</span
              ><span [ngClass]="{ 'char-custom-skill': !weapon?.name }">{{
                weapon?.name
                  ? weapon?.piercing
                    ? weapon?.piercing
                    : 0
                  : weapon?.name
                  ? ""
                  : "___"
              }}</span>
            </div>
            <div
              *ngIf="weapon?.printEffects"
              class="char-skill char-weapon-effects"
            >
              <span>Efectos</span
              ><span
                [ngClass]="{ 'char-custom-skill': !weapon?.printEffects }"
                >{{
                  weapon?.printEffects
                    ? weapon?.printEffects
                    : weapon?.name
                    ? ""
                    : "________________"
                }}</span
              >
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Habilidades -->
    <div class="char-stats-container">
      <!-- Defensa -->
      <div class="char-skills char-def-container">
        <div class="char-attribute">
          <img
            src="https://cdn4.iconfinder.com/data/icons/medieval-23/340/medieval_knight_armor_warrior_history_sword_middle_ages-512.png"
          />
          <span class="char-attribute-img">Defensa</span
          ><span>{{ printCharacter?.defense }}</span>
        </div>
        <!-- Bloqueo -->
        <div
          *ngIf="printCharacter?.shieldDefense > 0"
          class="char-def char-skill"
        >
          <span>Bloqueo</span>
          <div>
            <div>
              <img
                src="https://cdn0.iconfinder.com/data/icons/gold-casino-color-set/64/c_dice_couple_ic-512.png"
              /><span
                [ngClass]="{
                  'char-custom-skill': printCharacter?.shieldDefense == null
                }"
                >{{
                  printCharacter?.shieldDefense != null
                    ? printCharacter?.shieldDefense
                    : "__"
                }}</span
              >
            </div>
            <div>
              <img
                src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/horror_skull_halloween_dark_death_evil_skeleton-512.png"
              /><span
                [ngClass]="{
                  'char-custom-skill': printCharacter?.shieldDefense == null
                }"
                >{{
                  printCharacter?.shieldPen != null
                    ? printCharacter?.shieldPen > 0
                      ? printCharacter?.shieldPen
                      : 1
                    : "__"
                }}</span
              >
            </div>
          </div>
        </div>
        <!-- Desvío -->
        <ng-container
          *ngFor="let weapon of printCharacter?.parsedWeapons; index as i"
        >
          <div *ngIf="weapon?.weaponDefense > 0" class="char-def char-skill">
            <span
              >Desvío <sup> ({{ i + 1 }})</sup></span
            >
            <div>
              <div>
                <img
                  src="https://cdn0.iconfinder.com/data/icons/gold-casino-color-set/64/c_dice_couple_ic-512.png"
                /><span
                  [ngClass]="{
                    'char-custom-skill': weapon?.weaponDefense == null
                  }"
                  >{{
                    weapon?.weaponDefense != null ? weapon?.weaponDefense : "__"
                  }}</span
                >
              </div>
              <div>
                <img
                  src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/horror_skull_halloween_dark_death_evil_skeleton-512.png"
                /><span
                  [ngClass]="{
                    'char-custom-skill': weapon?.weaponDefense == null
                  }"
                  >{{
                    weapon?.weaponPen != null
                      ? -weapon?.weaponPen > 0
                        ? 1 - weapon?.weaponPen
                        : 1
                      : "__"
                  }}</span
                >
              </div>
            </div>
          </div>
        </ng-container>
        <!-- Evasión -->
        <div *ngIf="printCharacter?.evasion > 0" class="char-def char-skill">
          <span>Evasión</span>
          <div>
            <div>
              <img
                src="https://cdn0.iconfinder.com/data/icons/gold-casino-color-set/64/c_dice_couple_ic-512.png"
              /><span
                [ngClass]="{
                  'char-custom-skill': printCharacter?.evasion == null
                }"
                >{{
                  printCharacter?.evasion != null
                    ? printCharacter?.evasion
                    : "__"
                }}</span
              >
            </div>
            <div>
              <img
                src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/horror_skull_halloween_dark_death_evil_skeleton-512.png"
              /><span
                [ngClass]="{
                  'char-custom-skill': printCharacter?.evasion == null
                }"
                >{{
                  printCharacter?.evadeCost != null
                    ? printCharacter?.evadeCost > 0
                      ? printCharacter?.evadeCost
                      : 1
                    : "__"
                }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="char-skills"
        *ngFor="let attribute of ['arcana', 'strength', 'constitution']"
      >
        <div class="char-attribute">
          <img [src]="ATTRIBUTES_IMG[attribute]" />
          <span
            class="char-attribute-img"
            [ngClass]="{ 'char-arcana': attribute == 'arcana' }"
            >{{ attribute | translate }}</span
          ><span>{{
            printCharacter?.character?.attributes[attribute]
              ? parseInt(
                  String(printCharacter?.character?.attributes[attribute])
                ) + 10
              : ""
          }}</span>
        </div>
        <ng-container *ngFor="let skill of SKILLS">
          <div class="char-skill" *ngIf="skill.attribute == attribute">
            <span
              ><span>({{ skill.type }})</span> {{ skill.name }}</span
            ><span
              [ngClass]="{ 'char-custom-skill': getSkill(skill.name) == '__' }"
              >{{ getSkill(skill.name) }}</span
            >
          </div></ng-container
        >
        <ng-container *ngFor="let i of [0, 1]">
          <div class="char-skill char-custom-skill">
            <span>(_) ____________________</span><span>__</span>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="char-stats-container">
      <div
        class="char-skills"
        *ngFor="let attribute of ['dexterity', 'wisdom']"
      >
        <div class="char-attribute">
          <img [src]="ATTRIBUTES_IMG[attribute]" />
          <span class="char-attribute-img"> {{ attribute | translate }}</span
          ><span>{{
            parseInt(String(printCharacter?.character?.attributes[attribute])) +
              10
          }}</span>
        </div>
        <ng-container *ngFor="let skill of SKILLS">
          <div class="char-skill" *ngIf="skill.attribute == attribute">
            <span
              ><span>({{ skill.type }})</span> {{ skill.name }}</span
            ><span
              [ngClass]="{ 'char-custom-skill': getSkill(skill.name) == '__' }"
              >{{ getSkill(skill.name) }}</span
            >
          </div></ng-container
        >
        <ng-container *ngFor="let i of [0, 1]">
          <div class="char-skill char-custom-skill">
            <span>(_) ____________________</span><span>__</span>
          </div></ng-container
        >
      </div>
    </div>
    <div class="char-stats-container">
      <div
        class="char-skills"
        *ngFor="let attribute of ['intelligence', 'charisma']"
      >
        <div class="char-attribute">
          <img [src]="ATTRIBUTES_IMG[attribute]" />
          <span class="char-attribute-img">{{ attribute | translate }}</span
          ><span>{{
            parseInt(String(printCharacter?.character?.attributes[attribute])) +
              10
          }}</span>
        </div>
        <ng-container *ngFor="let skill of SKILLS">
          <div class="char-skill" *ngIf="skill.attribute == attribute">
            <span
              ><span>({{ skill.type }})</span> {{ skill.name }}</span
            ><span
              [ngClass]="{ 'char-custom-skill': getSkill(skill.name) == '__' }"
              >{{ getSkill(skill.name) }}</span
            >
          </div></ng-container
        >
        <ng-container *ngFor="let i of [0, 1]">
          <div class="char-skill char-custom-skill">
            <span>(_) ____________________</span><span>__</span>
          </div></ng-container
        >
      </div>
    </div>
  </div>

  <div class="character-spells">
    <ng-container *ngIf="printCharacter?.character">
      <div
        *ngFor="let spell of printCharacter?.character?.spells"
        class="spell"
      >
        <div class="spell-title">
          <div class="spell-name">
            <span>{{ spell?.name }}</span>
            <span>{{ spell?.type }} ({{ spell?.range }})</span>
          </div>
          <div class="spell-cost">
            <div>
              <span *ngIf="spell?.cost > 0">
                <img
                  src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/horror_skull_halloween_dark_death_evil_skeleton-512.png"
              /></span>
              <span *ngIf="spell?.lost > 0"
                ><img
                  src="https://cdn0.iconfinder.com/data/icons/gold-casino-color-set/64/c_dice_couple_ic-512.png"
              /></span>
            </div>
            <div>
              <!-- <span>{{ spell?.range }}</span> -->
              <span *ngIf="spell?.cost > 0">{{ spell?.cost }}</span>
              <span *ngIf="spell?.lost > 0">{{ spell?.lost }}</span>
            </div>
          </div>
        </div>
        <div class="spell-description">{{ spell?.description }}</div>
      </div>
    </ng-container>
  </div>
</div>
