<div id="char-print-container" class="char-print-container">
  <div *ngIf="!printed" class="char-print-button">
    <button (click)="print()"><mat-icon>print</mat-icon></button>
  </div>
  <div class="char-stats">
    <!-- Perfil -->
    <div class="char-stats-container">
      <div class="char-skills char-profile">
        <div class="char-name char-title">
          <span>{{ printCharacter?.character?.name }}</span>
          <img src="./assets/img/banner.png" />
        </div>
        <div class="char-image">
          <img [src]="printCharacter?.character?.image" />
        </div>
        <div class="char-name char-profile-data">
          <span><b>Perfil</b></span>
        </div>
        <div class="char-skill">
          <span>Concepto</span
          ><span>{{ printCharacter?.character?.archetype.concept }}</span>
        </div>
        <div class="char-skill">
          <span>Naturaleza</span
          ><span>{{ printCharacter?.character?.archetype.nature }}</span>
        </div>
        <div class="char-skill">
          <span>Conducta</span
          ><span>{{ printCharacter?.character?.archetype.conduct }}</span>
        </div>

        <!-- Pasivas -->
        <div class="char-skills char-passives-container">
          <div class="char-name char-profile-data">
            <span><b>Pasivas</b></span>
          </div>
          <div>
            <div>
              <img
                src="https://cdn1.iconfinder.com/data/icons/game-ui-set-part-2/96/Heart_red-512.png"
              />
              <span>Vida</span>
            </div>
            <span>{{ printCharacter?.maxHealth }}</span>
          </div>
          <div>
            <div>
              <img
                src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/vision_eye_focus_scanning_eyesight_accuracy-512.png"
              />
              <span>Percepción</span>
            </div>
            <span>{{ printCharacter?.perception }}</span>
          </div>
          <div>
            <div>
              <img
                src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/speed_foot_motion_down_leg_skill-512.png"
              />
              <span>Velocidad</span>
            </div>
            <span>{{ printCharacter?.speed }}</span>
          </div>
          <div>
            <div>
              <img
                src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/ability_skill_swords_game_mastery_hand-512.png"
              />
              <span>Voluntad</span>
            </div>
            <span>{{ printCharacter?.will }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="char-stats-container char-gear-container">
      <div class="char-skills char-gear">
        <div class="char-attribute">
          <span><b>Equipo base</b></span>
        </div>
        <div class="char-skill">
          <span>Armadura</span
          ><span>{{ printCharacter?.character?.gear?.armor }}</span>
        </div>
        <div class="char-skill">
          <span>Casco</span
          ><span>{{ printCharacter?.character?.gear?.helmet }}</span>
        </div>
        <div class="char-skill">
          <span>Escudo</span
          ><span>{{ printCharacter?.character?.gear?.shield }}</span>
        </div>
      </div>

      <!-- Armas -->
      <div class="char-stats-container">
        <ng-container
          *ngFor="let weapon of printCharacter?.parsedWeapons; index as i"
        >
          <div class="char-skills char-weapon">
            <div class="char-attribute">
              <span [ngClass]="{ 'char-custom-skill': !weapon?.name }"
                ><sup>({{ i + 1 }}) </sup
                >{{ weapon?.name ? weapon?.name : "______________" }}</span
              >
              ><span>{{ weapon?.impact ? weapon?.impact : "" }}</span>
            </div>
            <div class="char-weapon-data">
              <div>
                <span [ngClass]="{ 'char-custom-skill': !weapon?.range }">{{
                  weapon?.range ? weapon?.range : "_______"
                }}</span>
              </div>
              <div>
                <div>
                  <img
                    src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/horror_skull_halloween_dark_death_evil_skeleton-512.png"
                  /><span
                    [ngClass]="{ 'char-custom-skill': !weapon?.energy }"
                    >{{ weapon?.energy != null ? weapon?.energy : "__" }}</span
                  >
                </div>
                <div>
                  <img
                    src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/love_heart_break_relationship_skill_ability-512.png"
                  /><span
                    [ngClass]="{ 'char-custom-skill': !weapon?.damage }"
                    >{{ weapon?.damage ? weapon?.damage : "__" }}</span
                  >
                </div>
              </div>
            </div>
            <div class="char-skill">
              <span>Perforante</span
              ><span [ngClass]="{ 'char-custom-skill': !weapon?.name }">{{
                weapon?.name ? (weapon?.piercing ? weapon?.piercing : 0) : "___"
              }}</span>
            </div>
            <div class="char-skill char-weapon-effects">
              <span>Efectos</span
              ><span
                [ngClass]="{ 'char-custom-skill': !weapon?.printEffects }"
                >{{
                  weapon?.printEffects
                    ? weapon?.printEffects
                    : "________________"
                }}</span
              >
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Habilidades -->
    <div class="char-stats-container">
      <!-- Defensa -->
      <div class="char-skills char-def-container">
        <div class="char-attribute">
          <span>Defensa</span><span>{{ printCharacter?.defense }}</span>
        </div>
        <!-- Bloqueo -->
        <div class="char-def char-skill">
          <span>Bloqueo</span><span>{{ printCharacter?.shieldDefense }}</span>
        </div>
        <!-- Desvío -->
        <ng-container
          *ngFor="let weapon of printCharacter?.parsedWeapons; index as i"
        >
          <div class="char-def char-skill">
            <span
              >Desvío <sup> ({{ i + 1 }})</sup></span
            ><span
              [ngClass]="{
                'char-custom-skill': weapon?.weaponPen == null
              }"
              >{{ weapon?.weaponDefense ? weapon?.weaponDefense : "__" }}</span
            >
          </div>
        </ng-container>
        <!-- Evasión -->
        <div class="char-def char-skill">
          <span>Evasión</span><span>{{ printCharacter?.evasion }}</span>
        </div>
      </div>
      <div
        class="char-skills"
        *ngFor="let attribute of ['arcana', 'strength', 'constitution']"
      >
        <div class="char-attribute">
          <span [ngClass]="{ 'char-arcana': attribute == 'arcana' }">{{
            attribute | translate
          }}</span
          ><span>{{
            printCharacter?.character?.attributes[attribute]
              ? parseInt(
                  String(printCharacter?.character?.attributes[attribute])
                ) + 10
              : ""
          }}</span>
        </div>
        <ng-container *ngFor="let skill of SKILLS">
          <div class="char-skill" *ngIf="skill.attribute == attribute">
            <span
              ><span>({{ skill.type }})</span> {{ skill.name }}</span
            ><span
              [ngClass]="{ 'char-custom-skill': getSkill(skill.name) == '__' }"
              >{{ getSkill(skill.name) }}</span
            >
          </div></ng-container
        >
        <ng-container *ngFor="let i of [0, 1]">
          <div class="char-skill char-custom-skill">
            <span>(_) ____________________</span><span>__</span>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="char-stats-container">
      <div
        class="char-skills"
        *ngFor="let attribute of ['dexterity', 'wisdom']"
      >
        <div class="char-attribute">
          <span>{{ attribute | translate }}</span
          ><span>{{
            parseInt(String(printCharacter?.character?.attributes[attribute])) +
              10
          }}</span>
        </div>
        <ng-container *ngFor="let skill of SKILLS">
          <div class="char-skill" *ngIf="skill.attribute == attribute">
            <span
              ><span>({{ skill.type }})</span> {{ skill.name }}</span
            ><span
              [ngClass]="{ 'char-custom-skill': getSkill(skill.name) == '__' }"
              >{{ getSkill(skill.name) }}</span
            >
          </div></ng-container
        >
        <ng-container *ngFor="let i of [0, 1]">
          <div class="char-skill char-custom-skill">
            <span>(_) ____________________</span><span>__</span>
          </div></ng-container
        >
      </div>
    </div>
    <div class="char-stats-container">
      <div
        class="char-skills"
        *ngFor="let attribute of ['intelligence', 'charisma']"
      >
        <div class="char-attribute">
          <span>{{ attribute | translate }}</span
          ><span>{{
            parseInt(String(printCharacter?.character?.attributes[attribute])) +
              10
          }}</span>
        </div>
        <ng-container *ngFor="let skill of SKILLS">
          <div class="char-skill" *ngIf="skill.attribute == attribute">
            <span
              ><span>({{ skill.type }})</span> {{ skill.name }}</span
            ><span
              [ngClass]="{ 'char-custom-skill': getSkill(skill.name) == '__' }"
              >{{ getSkill(skill.name) }}</span
            >
          </div></ng-container
        >
        <ng-container *ngFor="let i of [0, 1]">
          <div class="char-skill char-custom-skill">
            <span>(_) ____________________</span><span>__</span>
          </div></ng-container
        >
      </div>
    </div>
  </div>
</div>

<div class="character-spells">
  <ng-container *ngIf="printCharacter?.character">
    <div *ngFor="let spell of printCharacter?.character?.spells" class="spell">
      <div class="spell-title">
        <div class="spell-name">
          <span>{{ spell?.type }}</span>
          <span>{{ spell?.name }}</span>
        </div>
        <div class="spell-cost">
          <img
            src="https://cdn3.iconfinder.com/data/icons/role-playing-game-5/340/horror_skull_halloween_dark_death_evil_skeleton-512.png"
          />
          <span>{{ spell?.cost }} </span>
        </div>
      </div>
      <div class="spell-description">{{ spell?.description }}</div>
    </div>
  </ng-container>
</div>
