.char-print-container
    position: relative
    width: 1200px
    display: flex
    flex-direction: column
    font-family: Arial, Helvetica, sans-serif

.char-print-button
    position: absolute
    bottom: 10px
    left: 10px
    z-index: 999

    button
        display: flex
        justify-content: center
        align-items: center
        padding: 5px
        border-radius: 50px
        border: 1px solid gray
        box-shadow: 1px 1px 1px black

.char-tokens
    display: flex

    div
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        width: 20%
        padding: 0 20px 0 40px
        overflow: hidden
        border: 1px solid black

    img
        position: absolute
        top: -4px
        left: -15px
        width: 50px
        height: auto
        filter: drop-shadow(0.5px 0.5px 0.5px black)

    span
        font-weight: 900
        text-transform: uppercase
        color: white
        text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000

    span:nth-of-type(2)
        display: flex
        align-items: center
        font-size: 28px

    div:nth-of-type(1)
        background-color: red

    div:nth-of-type(2)
        background-color: green

    div:nth-of-type(3)
        background-color: blue

    div:nth-of-type(4)
        background-color: gray

    div:nth-of-type(5)
        background-color: black

.char-stats
    display: flex
    flex-wrap: wrap
    width: 1200px
    background-color: white

.char-stats-container
    width: 20%
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

.char-gear
    .char-attribute
        span:first-of-type
            width: 100%
            background-color: gray

.char-passives-container
    padding-top: 5px
    padding-bottom: 0 !important
    margin-left: 10px !important

    div
        padding: 2px 10px 2px 0
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 18px

        div
            span
                font-weight: bold
                margin-left: 10px

        img
            width: 25px
            height: auto
            padding-bottom: 3px

    .char-attribute
        span
            background: whiteSmoke
            padding-left: 40px !important

        img
            margin-top: -3px

.char-def-container
    .char-attribute
        span:first-of-type
            background-color: brown

.char-skills
    display: flex
    flex-direction: column
    justify-content: center
    width: 225px
    margin: 10px 0 0 0
    padding-bottom: 10px
    background: white

.char-skill
    padding: 4px 10px
    font-size: 14px
    display: flex
    justify-content: space-between

    span
        display: flex

        span
            width: 1.5rem
            margin: 0

    span:first-of-type
        font-weight: bold

.char-custom-skill
    opacity: 0.2
    font-weight: normal !important

.char-arcana
    background-color: blue !important

.char-attribute-img
    padding-left: 30px !important

.char-attribute
    position: relative
    font-size: 18px
    font-weight: bold
    margin-bottom: 0.5rem
    padding: 5px 10px 5px 10px
    color: black
    display: flex
    justify-content: space-between

    sup
        font-size: 10px

    img
        position: absolute
        top: -1px
        left: -10px
        width: 40px !important
        height: auto
        filter: drop-shadow(0.5px 0.5px 0.5px black)

    span
        display: block
        border: 1px solid black

    span:first-of-type
        width: 190px
        padding: 5px 0 5px 5px
        background-color: purple
        color: white
        text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000

    span:nth-of-type(2)
        position: absolute
        top: 2px
        right: 0
        height: 35px
        width: 35px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 30px
        border: 2px solid black
        background-color: white

.char-weapons-container
    width: 80%
    display: flex
    justify-content: center
    align-items: flex-start

.char-weapon
    .char-attribute
        span:first-of-type
            width: 100%
            background-color: red

.char-weapon-effects
    display: flex
    justify-content: space-between

.char-weapon-hands
    margin-right: 10px

    img
        opacity: 0.3
        margin: 0 -2px !important

    img:last-of-type
        -webkit-transform: scaleX(-1)
        transform: scaleX(-1)

.char-weapon-hands-up
    opacity: 1 !important

.char-weapon-data
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 6.5px 0 10px
    margin-bottom: 10px

    div
        display: flex
        justify-content: center
        align-items: center

    div:first-of-type
        text-transform: capitalize

    img
        width: 20px
        height: auto
        margin: 0 0 2px 2px

    span
        min-width: 16px
        text-align: center

.char-profile
    .char-name
        width: 100%
        height: 20px
        padding: 5px 0
        display: flex
        justify-content: center
        align-items: center
        background: whitesmoke
        color: white
        font-size: 18px
        border: 1px solid black
        text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000

    .char-title
        position: relative
        margin-top: 5px
        font-family: BreatheFire
        background: none
        border: none

        img
            position: absolute
            top: -11px
            z-index: 0
            width: 250px
            height: auto

        span
            position: absolute
            top: 0
            z-index: 9
            font-size: 18px
            color: black
            text-shadow: -0.5px -0.5px 0 white, 0 -0.5px 0 white, 0.5px -0.5px 0 white, 0.5px 0 0 white, 0.5px 0.5px 0 white, 0 0.5px 0 white, -0.5px 0.5px 0 white, -0.5px 0 0 white

    .char-profile-data
        margin: 0 0 10px 0
        justify-content: flex-start

    .char-gear
        margin-top: 5px

.char-profile-stat
    height: 20px
    padding: 5px
    display: flex
    justify-content: center !important
    align-items: center

.char-image
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    padding: 10px 0
    min-height: 320px

    img
        width: 100%
        height: auto

.char-def
    display: flex
    justify-content: space-between

    sup
        font-size: 10px

    span:first-of-type
        width: 3.5rem

    span:nth-of-type(2)
        min-width: 1.5rem
        display: flex
        justify-content: center

    span:nth-of-type(4)
        min-width: 1.5rem
        display: flex
        justify-content: center

    div
        display: flex

        img
            width: auto
            height: 20px
            margin: -5px 5px 0 10px

        span
            display: block
            width: 20px
            text-align: center
            font-weight: normal

//***********************************************************************************************
// SPELLS
//***********************************************************************************************

.character-spells
    position: relative
    margin: 10px 0
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    >div
        max-width: calc(98% - 0.5rem)
        min-width: calc(98% - 0.5rem)

.spell
    margin: 5px 0
    background: whitesmoke
    border: 1px solid black

.spell-title
    padding: 10px 20px
    display: flex
    justify-content: space-between
    align-items: center
    font-family: 'Times New Roman', Times, serif
    font-size: 16px
    color: Black

.spell-name
    position: relative
    display: flex
    flex-direction: column

    span:first-of-type
        // font-family: BreatheFireIii
        font-size: 20px
        font-weight: bold

    span:last-of-type
        color: Gray
        font-family: 'Times New Roman', Times, serif
        font-size: 16px

.spell-cost
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-weight: bold

    div
        display: flex
        justify-content: space-between
        align-items: center

    img
        width: auto
        height: 20px

    span
        min-width: 75px
        display: flex
        justify-content: center
        padding: 5px

.spell-lost
    color: red !important

.spell-description
    padding: 0 20px 20px 20px
