/* You can add global styles to this file, and also import other style files */

body
    padding: 0
    margin: 0
    user-select: none

@font-face
    font-family: BreatheFireIii
    src: url(assets/fonts/BreatheFireIii.ttf) format("opentype")

@font-face
    font-family: BreatheFire
    src: url(assets/fonts/BreatheFireIii.ttf) format("opentype")

.capitalize
    text-transform: capitalize

.feedback-icon
    color: green

.rule-link
    color: blue
